body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #2a2a2a;
    }
    .main-content, .about-name {
        background: #000 !important;
    }
    .title, .my-name, .list-item {
        color: #ccc !important;
    }
    .content, .link, .contact-link {
        color: #aaa !important;
    }
    .brackets, .period {
        color: #888 !important;
    }
}
@media screen and (min-width: 700px) {
    .main {
        display: flex;
        flex-direction: row;
        width: 1200px;
        margin: 0 auto;
    }
}

    /*Sidebar styles*/

.sidebar {
    background-color: #1e2939;
    padding-top: 40px;
    width: 350px;
}
.photo {
    width: 350px;
    margin-bottom: 50px;
}
@media screen and (min-width: 700px) {
    .sidebar {
        background-color: #1e2939;
        padding-top: 40px;
        width: 370px;
    }
    .photo {
        width: 370px;
        margin-bottom: 50px;
    }
}
.sidebar-title {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contacts,
.tech-skills,
.soft-skills {
    margin-left: 48px;
    margin-bottom: 50px;
}
.contact-type {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
}
.contact-link {
    color: #565e6a;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.contacts-list,
.tech-skills-list,
.soft-skills-list {
    color: #fff;
    padding: 0;
    margin-left: 17px;
}
.contacts-item,
.soft-skills-item {
    color: #fb6d3a;
}
.tech-skills-item {
    color: #fb6d3a;
    margin-bottom: 10px;
}
.tech-skills-text,
.soft-skills-text {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
    
    /*Main Content Styles*/

.main-content {
    background-color: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 0px 5px;
}
@media screen and (min-width: 700px) {
    .main-content {
        background-color: #fff;
        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
        padding: 0px 90px;
    }
}

.section {
    margin-bottom: 50px;
}
.title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.list {
    padding: 0;
    margin-left: 15px;
}
.list-item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;
}
.red-line {
    margin-left: 10px;
}
.link {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.content {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #595959;
    margin-bottom: 10px;
}
.brackets {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.my-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

/*.work-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.organization {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fb6d3a;
}
.work-list {
    padding: 0;
    margin-left: 15px;
}
.work-list-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}*/

.additional-img {
    float:left;
}